.list_product{ 
    .add-min{ 
        #plus{ 
            &:hover{ 
            cursor: pointer;

            }
        }
        #min{ 
            &:hover{ 
                cursor: pointer;
            }
        }
    }
}
.add-parcel{
    &-container{ 
        #choice-product{
            &:hover{ 
                cursor: pointer;
            }
        }
    }
}